.heading {
    text-align: center;    
    width: 300px;
    margin: 50px auto;
}

h1 {
    font-family: "Oswald";
    font-weight: 600;
    font-size: 36px;
    line-height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #373737;

}

.imageCarousel {
    display: flex;
    margin-left: 57px;
    margin-right: 57px;
    justify-content: space-between;
    margin-bottom: 50px;
}

.membership {
    display: flex;
    font-family: "Oswald";
    font-size: 30;
    font-weight: 700;
    color: #F2F2F2;
    background-color: #373737;
    width: 368px;
    height: 52px;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
}

.volunteer {
    display: flex;
    font-family: "Oswald";
    font-size: 30;
    font-weight: 700;
    color: #F2F2F2;
    background-color: #373737;
    width: 368px;
    height: 52px;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    margin-top: 150px;
}

.memberParagraph {
    font-family: Montserrat;
    padding-right: 60px;
    display: grid;
    grid-area: memberParagraph;
}

.memberButton button{
    display: grid;
    grid-area: memberButton;
    background-color: #2D77A6;
    color: #FFFFFF;
    font-size: 36;
    font-weight: 700;
    font-family: "Oswald";
    width: 256px;
    height: 60px;
    border: none;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

#membershipInfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "memberParagraph memberImage"
    "memberButton memberImage";
}

#memberImage {
    display: grid;
    grid-area: memberImage;
}
#volunteerInfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "volunteerParagraph volunteerImage"
    "volunteerButton volunteerImage";
}

.volunteerParagraph {
    font-family: Montserrat;
    padding-right: 60px;
    display: grid;
    grid-area: volunteerParagraph;
}

.volunteerButton button{
    display: grid;
    grid-area: volunteerButton;
    background-color: #2D77A6;
    color: #FFFFFF;
    font-size: 18;
    font-weight: 700;
    font-family: "Oswald";
    width: 256px;
    height: 60px;
    border: none;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

#volunteerImage {
    display: grid;
    grid-area: volunteerImage;
}