/* Header and Nav */
.top-header {
  display: grid;
  grid-template-rows: 100px;
  grid-template-columns: 1fr 1fr; 
  grid-template-areas: 
  "logo top-contact";
  color: #373737;
  font-family: 'Oswald', sans-serif;
  /* position: absolute; */
  width: 1440px;
  height: 65px;
  left: 0px;
  top: 0px;
  margin-bottom: 15px;

}

.logo {
  grid-area: logo; 
  display: flex;
  align-items: center;
}

.top-contact {
  grid-area: top-contact;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 67px;
  margin-bottom: 20px;

}
.top-contact img {
  max-height: 18px;
  max-width: 20px;
  margin: 0 12px;  
}

.global-top-nav {
  background-color: #373737;
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  /* position: absolute; */
  width: 1440px;
  height: 42px;
  left: 0px;
  top: 80px;
  display: grid;
  grid-template-rows: 40px;
  grid-template-columns: 1fr 1fr; 
  grid-template-areas: 
  "menu-items buttons"
}

a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  margin: 0 10px;
}

.menu-items {
  grid-area: menu-items;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 55px;
}

.buttons {
  grid-area: buttons;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
  
}

button {
  width: 145px;
  height: 30px;   
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  font-weight: 500px;
  margin-right: 20px;

}

#donate {
  background-color: #f1bf62;
  color: #373737;
  

}
  
#login {
  background: #373737;  
  color: white;      

}

/* /// MEDIA PAGE///  */

body{
    background-color: #FFFFFF; 
}

/* ///TEXT CSS/// */

/* this is title of section */
.wrapper {
    display: flex;
    height: auto;
    box-sizing: border-box; 
  }
  
  .title {
    width: 950px;
    height: auto;
    margin: auto;
    text-align: justify;
    padding: 0 50px 20px 50px;
  }
  
  .headLine {
    margin: 30px 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    min-width: 100px;
    align-items: center;
  }
  .headLine h2 {
    display: flex;
    flex-wrap: nowrap;
    font-family:  'Oswald', sans-serif;
  }
  
  .headLine hr {
    margin-top: 12px;
    background-color: #D94431;
    width: 40%;
    height: 3px;
  }

h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.03em;
    color: #373737; 
}

p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #373737;
}


/* ///IN THE NEWS/// */

.newsGrid {
    display: grid;
    grid-template-rows: 616px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "testimony inTheNews";
    margin: 10px;
    padding: 30px;
}

#testimony {
    grid-area: testimony;
}

#inTheNews {
    grid-area: inTheNews;
}

/* ///SOCIAL MEDIA/// */
.socialGrid{
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 36px;
    color: #373737; 

    display: grid;
    grid-template-rows: 150px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "facebook instagram twitter";
    column-gap: 50px;
    margin-top: 150px;
    margin-bottom: 150px;
    margin-left: 50px;
    margin-right: 50px;
    align-items: center;
    justify-items: center;
}
#faceBook, #instagram, #twitter {
    padding: 50px;
    color: #373737

}

#faceBook{
    grid-area: facebook;
    border: 8px solid #2D77A6;
}

#instagram{
    grid-area: instagram;
    border: 8px solid #4EA66D;
}

#twitter{
    grid-area: twitter;
    border: 8px solid #F2B441;
}

/* ///PHOTO GALLERY/// */

.photoScroll{
    display: grid;
    grid-template-rows: 300px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
}
.photoScroll img{
    width: 100%;
    height: auto;
}
/* @media only screen and (max-width: 1000px){
  #navigation{
    display: none;
  }
  .icons{
    margin-left: auto;
  }
}
@media only screen and (max-width: 600px){
  #headline{
    position: static;
    margin: 20px;
  }
  #heroGrid{
  grid-template-areas: 
  "featuredProduct featuredProduct"
  "secondaryProduct CTA"
  ;
  }
  #categoryGrid{
  grid-template-rows: 300px 300px 300px 300px 300px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "bookcases"
    "bedroom"
    "patio"
    "couches"
    "desks"
    ;
  }
} */