/* jenna's header css */
.top-header {
    display: grid;
    grid-template-rows: 100px;
    grid-template-columns: 1fr 1fr; 
    grid-template-areas: 
    "logo top-contact";
    color: #373737;
    font-family: 'Oswald', sans-serif;
    /* position: absolute; */
    width: 1440px;
    height: 65px;
    left: 0px;
    top: 0px;
    margin-bottom: 15px;

}

.logo {
    grid-area: logo; 
    display: flex;
    align-items: center;
}

.top-contact {
    grid-area: top-contact;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 67px;
    margin-bottom: 20px;

}

/*can't figure out how to move up the top-contact section a smidge
so it's not so close to the nav bar*/

.top-contact img {
    max-height: 18px;
    max-width: 20px;
    margin: 0 12px;  
}

.global-top-nav {
    background-color: #373737;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    /* position: absolute; */
    width: 1440px;
    height: 42px;
    left: 0px;
    top: 80px;
    display: grid;
    grid-template-rows: 40px;
    grid-template-columns: 1fr 1fr; 
    grid-template-areas: 
    "menu-items buttons"
}

a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin: 0 10px;
}

.menu-items {
    grid-area: menu-items;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 55px;
}

.buttons {
    grid-area: buttons;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
    
}

button {
    width: 145px;
    height: 30px;   
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    font-weight: 500px;
    margin-right: 20px;

}

#donate {
    background-color: #f1bf62;
    color: #373737;
    

}
    
#login {
    background: #373737;  
    color: white;      

}

/*I have no idea how to fix the border radius/margin thing going on here*/

.hero-image {
    /* position: absolute; */
    width: 1440px;
    height: 500px;
    left: 0px;
    top: 120px;
}

.banner {
    color: white;
    background-color: #2D77A6;
    /* position: absolute; */
    width: 1440px;
    height: 396px;
    left: 0px;
    top: 500px;

}

#large-quote {
    
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    text-align: center;
    padding: 30px;

}

#small-quote {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 32px;

    text-align: center;
    
}

/* <!-- Lauren’s Work Section coded using CSS flex -->*/

.clickableCards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    background: linear-gradient(to top, #4EA66D 75%, #FFFFFF 0%);
    margin: 30px, 140px, 30px, 140px;

}

.card {
    background-color: white;
    height: 160px;
    width: 294px;
    align-items: center;
    justify-content: center;
    padding-top: 25px;

}

.cardTitle {
    font-family: "Oswald";
    font-size: 36px;
    font-weight: 500;
    line-height: 53px;
    letter-spacing: .03em;
    text-decoration: underline;
    text-align: center;
    color: rgba(0, 0, 0, 0.74);

}

.cardSub {
    font-family: "Montserrat";
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: .02em;
    color: #373737;
    text-align: center;
}

#membership {
    background: #FFFFFF;
    border: 8px solid #2D77A6;
    box-sizing: border-box;
    outline: 18px solid white;
    left: 19px;
    top: 18px;

}

#volunteer {
    background: #FFFFFF;
    border: 8px solid #4EA66D;
    box-sizing: border-box;
    outline: 18px solid white;
    left: 19px;
    top: 18px;
}

#donateCard {
    background: #FFFFFF;
    border: 8px solid #F2B441;
    box-sizing: border-box;
    outline: 18px solid white;
    left: 19px;
    top: 18px;
}

.greenBackground {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #4EA66D;
    justify-content: space-evenly;
    align-items: center;

}

.boldParagraph {
    font-family: Oswald;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 53px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-top: 42px;
}

.icons {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 45px;
    color: #FFFFFF;

}

.testimonyCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(to bottom, #4EA66D 40%, #FFFFFF 0%);

}

.testimonyCard {
    width: 250px;
    height: 255px;
    margin-top: 47px;

}

.testimonyTitle {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #373737;
}
   

/* kira's section */
.sectionHeader { 
    display: flex;
    font-family: "Oswald";
    font-size: 30;
    font-weight: 700;
    color: #F2F2F2;
    background-color: #373737;
    width: 368px;
    height: 52px;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    margin: 80px 0;
}

.events { 
  display: grid;
  grid-template-rows: 300px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "eventsHeader calendar";
    margin: 20px;
}

#eventsHeader {
  grid-area: eventsHeader;
  font-family: 'oswald';
  font-size: 34px;
  height: 200px;
  border: 4px solid #F2B441;
  padding: 20px;
  margin: 20px;
}

#eventsHeader p {
    font-family: 'montserrat';
    font-size: 22px;
}
.calendar img{
  grid-area: calendar;
}

#eventsHeader .button {
    width: 258px;
    height: 55px;
    border-radius: 10px;
    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    color: #373737;
    border: 2px solid black;
    margin-top: 30px;
}



/* JT's section */
.contactUs {
    display: flex;
    font-family: "Oswald";
    font-size: 30;
    font-weight: 700;
    color: #F2F2F2;
    background-color: #373737;
    width: 368px;
    height: 52px;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    margin-top: 57px;
    margin-bottom: 76px;
}

.contactUsSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "ContactUsImage contactInfo";

}

.ContactUsImage {
    display: grid;
    grid-area: ContactUsImage;
    margin-left: 80px;
}

.contactInfo {
    display: grid;
    grid-area: contactInfo;
    width: 649px;
    height: 445px; 
    background: #FFFFFF;
    border: 7px solid #2D77A6;
    box-sizing: border-box;
    margin-left: -40px;
    margin-top: 38px;
    margin-bottom: 38px;
    padding-left: 20px;
}

.infoHead {
    font-family: Oswald;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    text-decoration-line: underline;
    color: #373737;

}

.infoSubhead {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #373737;

}

.mapsButton button {
    width: 258px;
    height: 55px;
    border-radius: 10px;
    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    background-color: #FFFFFF;
    color: #373737;
    padding-left: 20px;
    margin-left: 160px;
    margin-bottom: 50px;
}


/* JMO's footer section */
.footer {
    background: #373737;
    margin-top: 64px;
    
  }
  
.footer-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "Pavilion contact usefullinks socials";
    padding-top: 16px;
    padding-left: 82px;
}

.P {
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 16px;
align-items: center;
color: #FFFFFF; 


}

.footer-heading {
font-family: Oswald;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 22px;
align-items: center;
letter-spacing: 0.05em;
color: #F2F2F2;

}

.socialIcons {
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 16px;
align-items: center;
color: #FFFFFF; 

}

.Pavilion {
    display: grid;
    grid-area: Pavilion;
    width: 219px;
}

.contact {
    display: grid;
    grid-area: contact;
    width: 244px;
}

.usefullinks {
    display: grid;
    grid-area: usefullinks;
}

.socials {
    display: grid;
    grid-area: socials;
}

@media only screen and (max-width: 600px) {
    .clickableCards {
        flex-direction: column;
        margin-left: 100px;
    }
}