/* jenna's header css */

/* kira's section */

/* lauren's section */

.clickableCards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: #FFFFFF;
    margin: 30px, 140px, 30px, 140px;


}

.card {
    background-color: white;
    height: 160px;
    width: 294px;
    align-items: center;
    justify-content: center;
    padding-top: 25px;

}

.cardTitle {
    font-family: "Oswald";
    font-size: 36px;
    font-weight: 500;
    line-height: 53px;
    letter-spacing: .03em;
    text-decoration: underline;
    text-align: center;
    color: rgba(0, 0, 0, 0.74);

}

.cardSub {
    font-family: "Montserrat";
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: .02em;
    color: #373737;
    text-align: center;
}

#membership {
    background: #FFFFFF;
    border: 8px solid #2D77A6;
    box-sizing: border-box;
    left: 19px;
    top: 18px;

}

#volunteer {
    background: #FFFFFF;
    border: 8px solid #4EA66D;
    box-sizing: border-box;
    left: 19px;
    top: 18px;
}

#donateCard {
    background: #FFFFFF;
    border: 8px solid #F2B441;
    box-sizing: border-box;
    left: 19px;
    top: 18px;
}

.greenBackground {
    display: flex;
    flex-direction: row;
    background-color: #4EA66D;
    justify-content: space-evenly;
    align-items: center;

}

.boldParagraph {
    font-family: Oswald;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 53px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.icons {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 45px;
    color: #FFFFFF;

}

.testimonyCards {
    display: flex;
    flex-direction: row;
    background-color: #4EA66D;
    justify-content: space-evenly;
    align-items: center;

}

.testimonyCard {
    width: 250px;
    height: 255px;
}

.testimonyTitle {
    font-family: Oswald;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #373737;
}


/* JT's section */

/* JMO's footer section */